<h3>Effects</h3>

<MudStack>
    <PlayerNameComponent/>

    <MudSelect T="@(Effect?)"
               Placeholder="Select an effect"
               Class="mt-3"
               MultiSelection="@false"
               SelectedValuesChanged="@OnSelectedValuesChanged"
               Clearable>
        <MudSelectItem T="@(Effect?)"
                       Value="@null">
            None
        </MudSelectItem>
        @foreach (var effect in Effects.OrderBy(e => e.DisplayName))
        {
            <MudSelectItem T="@(Effect?)"
                           Value="@effect">
                @effect.DisplayName
            </MudSelectItem>
        }
    </MudSelect>

    <MudNumericField T="int"
                     Label="Duration (seconds)"
                     Min="1"
                     @bind-Value="@Duration"/>

    <MudNumericField T="int"
                     Label="Amplifier"
                     Min="1"
                     Max="255"
                     @bind-Value="@Amplifier"/>

    <MudSwitch Label="Clear Effect"
               Color="@Color.Primary"
               @bind-Value="@ClearEffect"/>

    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               Disabled="@GenerateCommandDisabled"
               title="Generate command">
        Generate command
    </MudButton>

    <MudButton ButtonType="@ButtonType.Button"
               Variant="@Variant.Filled"
               Color="@Color.Default"
               OnClick="@GenerateClearAllEffectsCommand"
               title="Clear all effects">
        Clear all effects
    </MudButton>

</MudStack>
