<h3>Effects</h3>

<MudStack>
    <MudSelect T="Effect"
               Placeholder="Select an effect"
               Class="mt-3"
               MultiSelection="@false"
               SelectedValuesChanged="@OnSelectedValuesChanged"
               Clearable>
        @foreach (var effect in Effects.OrderBy(e => e.displayName))
        {
            <MudSelectItem T="Effect"
                           Value="@effect">
                @effect.displayName
            </MudSelectItem>
        }
    </MudSelect>
    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               Disabled="@GenerateCommandDisabled"
               title="Generate command">
        Generate command
    </MudButton>
</MudStack>
