<h3>Enchantments</h3>

<MudStack>
    <PlayerNameComponent />

    <MudAutocomplete T="Enchantment"
                     Label="Select an enchantment"
                     @bind-Value="SelectedEnchantment"
                     SearchFunc="@Search"
                     ToStringFunc="@ToString"
                     Clearable />

    <MudNumericField T="int"
                     Label="Level"
                     Min="1"
                     Max="@(SelectedEnchantment?.maxLevel ?? 1)"
                     @bind-Value="@Level" />

    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               Disabled="@GenerateCommandDisabled"
               title="Generate command">
        Generate command
    </MudButton>
</MudStack>
