<h3>Enchantments</h3>

<MudStack>
    <MudSelect T="Enchantment"
               Placeholder="Select an enchantment"
               Class="mt-3"
               MultiSelection="@false"
               SelectedValuesChanged="@OnSelectedValuesChanged"
               Clearable>
        @foreach (var enchantment in Enchantments.OrderBy(i => i.displayName))
        {
            <MudSelectItem T="Enchantment"
                           Value="@enchantment">
                @enchantment.displayName
            </MudSelectItem>
        }
    </MudSelect>
    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               Disabled="@GenerateCommandDisabled"
               title="Generate command">
        Generate command
    </MudButton>
</MudStack>
