<h3>
    @TabTitle
</h3>

<MudTextField @bind-Value="@UserInputText"
              Placeholder="Type your command here..."
              Lines="1"
              Adornment="@Adornment.Start"
              AdornmentIcon="@Icons.Material.Filled.Input"
              AdornmentColor="@Color.Primary"
              Class="mb-2"
              Immediate="@true" />

<MudButton Variant="@Variant.Filled"
           Color="@Color.Primary"
           OnClick="@GetResponseFromChat"
           StartIcon="@Icons.Material.Filled.Send"
           Class="mb-2">
    Send
</MudButton>

@if (!string.IsNullOrEmpty(ChatOutputText))
{
    <MudText>
        @((MarkupString)ChatOutputText)
    </MudText>
}
