<h3>@TabTitle</h3>

<MudStack>
    <PlayerNameComponent/>

    <MudSelect T="@GameMode">
        <MudSelectItem T="@GameMode"
                       Value="GameMode.Survival">Survival
        </MudSelectItem>
        <MudSelectItem T="@GameMode"
                       Value="GameMode.Creative">Creative
        </MudSelectItem>
        <MudSelectItem T="@GameMode"
                       Value="GameMode.Adventure">Adventure
        </MudSelectItem>
        <MudSelectItem T="@GameMode"
                       Value="GameMode.Spectator">Spectator
        </MudSelectItem>
    </MudSelect>

    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               title="Generate command">
        Generate command
    </MudButton>

</MudStack>
