<h3>Give Items</h3>

<MudStack>
    <MudAutocomplete T="Item"
                     Label="Select an item"
                     @bind-Value="SelectedItem"
                     SearchFunc="@Search"
                     ToStringFunc="@ToString"
                     Clearable />

     <MudButton ButtonType="@ButtonType.Submit"
                Variant="@Variant.Filled"
                Color="@Color.Primary"
                OnClick="@GenerateCommand"
                Disabled="@GenerateCommandDisabled"
                title="Generate command">
         Generate command
     </MudButton>
 </MudStack>
