<h3>Give Items</h3>

<MudStack>
    <MudSelect T="Item"
               Placeholder="Select an item"
               Class="mt-3"
               MultiSelection="@false"
               SelectedValuesChanged="@OnSelectedValuesChanged"
               Clearable>
        @foreach (var item in Items.OrderBy(i => i.displayName).Take(10))
        {
            <MudSelectItem T="Item"
                           Value="@item">
                @item.displayName
            </MudSelectItem>
        }
    </MudSelect>
    <MudButton ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               OnClick="@GenerateCommand"
               Disabled="@GenerateCommandDisabled"
               title="Generate command">
        Generate command
    </MudButton>
</MudStack>
